.Rproj.user
.Rhistory
.RData
.Ruserdata
content.Rproj
archive/*
exams/*
papers/*
case-study/*
homework/hwk1/hwk1_data*
homework/hwk1/hwk1-answers*
homework/hwk1/NJ_Insurance*
homework/hwk2/hwk2_data*
homework/hwk2/hwk2-answers*
homework/hwk3/hwk3_data*
homework/hwk3/hwk3-answers*
homework/data-paths.R